@charset "UTF-8";

#title {
	text-align: center;
}

.form-horizontal {
	position: relative;
	width: 30%;
	margin: auto;
	padding: 20px;
	padding-left: 40px;
	background-color: rgba(0, 0, 0, 0.1);
}

.col-sm-2 {
	width: auto;
}

.col-sm-offset-2 {
	width: initial;
}

.err-str {
	color: yellow;
}

#btn {
	-webkit-appearance: none;
	height: 40px;
	padding: 10px 12px;
	margin-bottom: 10px;
	background-color: #333333;
	text-transform: uppercase;
	color: #fff;
	border: 0px;
	float: right;
	margin: 0;
	outline: none;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#btn:hover {
	background-color: lighten(ui_accent, 5);
}

#btn:active {background-color darken(ui_accent, 5);
	
}