@charset "UTF-8";

body{ 
 background:#ec6a38;
  -webkit-animation:colour 5s linear infinite;
    -moz-animation:colour 5s linear infinite;
  
}
@-webkit-keyframes colour{
    0%{
        background:#ec6a38
    }

    40%{
        background:#ec4038
    }

    80%{
        background:#ec9138
    }

    100%{
        background:#ec6a38
    }

}

@-moz-keyframes colour{
    0%{
        background:#ec6a38
    }

    40%{
        background:#ec4038
    }

    80%{
        background:#ec9138
    }

    100%{
        background:#ec6a38
    }
}

.logout {
	margin-top: 2%;
	margin-left: 80%;
	color: rgba(0, 0, 0, 1);
	font-weight: bold;
}

.title {
	margin: -4% auto;
	width: 20%;
}

h1 {
	color: rgba(0, 0, 0, 1);
	text-align: center;
	background: linear-gradient(transparent 40%, #fec1fe 0%);
}

.data {
	color: rgba(0, 0, 0, 1);
}

table {
	margin: 0 auto;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border: 5px solid;
	border-spacing: 0;
	overflow: hidden;
}

td, th {
	border-bottom: 5px solid;
}

td, th {
	padding: 10px;
}

th {
	background: #EFEFEF;
}

table tbody tr:last-child th, table tbody tr:last-child td {
	border-bottom: none;
}

th+th, td {
	border-left: 5px solid;
}

#page {
	font-size: 130%;
	margin-top: 3%;
	margin-right: 38%;
	margin-left: auto;
	width: 19%;
}