@charset "utf-8";

/*PC・タブレット・スマホ(全端末)共通設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/

/*全体の設定
---------------------------------------------------------------------------*/
body {
	margin: 0px;
	padding: 0px;
	-webkit-text-size-adjust: none;
	color: #666; /*全体の文字色*/
	font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo,
		Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif; /*フォント種類*/
	font-size: 16px; /*文字サイズ*/
	line-height: 2; /*行間*/
	background: #fff; /*背景色*/
}

h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, form, figure, form,
	select, input, textarea {
	margin: 2px;
	padding: 0px;
	font-size: 100%;
	font-weight: normal;
}

ul {
	list-style-type: none;
}

ol {
	padding-left: 40px;
	padding-bottom: 15px;
}

img {
	border: none;
	width: 80%;
	height: 80%;
	vertical-align: middle;
}

table {
	border-collapse: collapse;
	font-size: 100%;
	border-spacing: 0;
}

iframe {
	width: 100%;
}

/*リンク（全般）設定
---------------------------------------------------------------------------*/
a {
	color: #583822; /*リンクテキストの色*/
	transition: 0.3s; /*マウスオン時の移り変わるまでの時間設定。0.3秒。*/
}

a:hover {
	color: #666; /*マウスオン時の文字色*/
}

/*コンテナ*/
/*コンテナのh0タグの設定*/
#container {
	max-width: 1400px; /*ブロックの最大幅*/
	margin: 30px auto;
	padding: 0 3%;
}

/*ヘッダー（ロゴが入った最上段のブロック）
---------------------------------------------------------------------------*/
/*headerブロック*/
header {
	padding: 25px;
	text-align: center; /*内容を中央よせ*/
}
/*ロゴ画像設定*/
#logo img {
	width: 400px; /*画像幅*/
	margin: 40px auto 40px; /*ロゴの上と下に40pxスペースを空ける設定*/
}

/*トップページのメイン画像
---------------------------------------------------------------------------*/
/*画像ブロック*/
#mainimg img {
	border-radius: 10px; /*角を丸くする指定。この１行を削除すれば角丸がなくなります。*/
	margin-bottom: 40px; /*下に空けるスペース*/
}

/*メニュー
---------------------------------------------------------------------------*/
/*メニュー全体を囲むブロック*/
#menubar {
	text-align: center; /*文字をセンタリング*/
	font-size: 18px; /*文字サイズ*/
	margin-bottom: 40px; /*下に空けるスペース*/
}
/*メニュー１個あたりの設定*/
#menubar li {
	display: inline; /*横並びにする設定*/
}

#menubar li a {
	text-decoration: none;
	padding: 15px 30px; /*各メニュー内の余白。上下に15px、左右に30pxあけるという意味。*/
}
/*マウスオン時の設定*/
#menubar li a:hover {
	color: #d08047; /*文字色*/
	border-bottom: 4px solid #d08047; /*下線の幅、線種、色*/
}

.logout {
	display: inline-block;
	font-size: 16px; /* 文字サイズ */
	text-align: center; /* 文字位置   */
	cursor: pointer; /* カーソル   */
	padding: 0px 0px; /* 余白       */
	background: rgba(0, 0, 0, 0); /* 背景色     */
	color: #d08047; /* 文字色     */
	line-height: 1em; /* 1行の高さ  */
	transition: .3s; /* なめらか変化 */
	border: 0px solid rgba(0, 0, 0, 0); /* 枠の指定 */
}

.logout:hover {
	color: rgba(0, 0, 0, 0); /* 背景色     */
	background: #d08047; /* 文字色     */
}

/*コンテンツ（見出しバーや文字などが入っているブロック）
---------------------------------------------------------------------------*/
/*コンテンツのh2タグの設定*/
#contents h2 {
	clear: both;
	margin-bottom: 20px;
	color: #fff; /*文字色*/
	padding: 10px 20px; /*上下、左右への余白*/
	background: #d08047; /*背景色*/
	border-radius: 10px; /*角を丸くする指定。この１行を削除すれば角丸がなくなります。*/
}
/*コンテンツのh3タグの設定*/
#contents h3 {
	clear: both;
	margin-bottom: 20px;
	padding: 8px 20px; /*上下、左右への余白*/
	background: #fff; /*背景色*/
	border: 1px solid #ccc; /*枠線の幅、線種、色*/
	border-radius: 10px; /*角を丸くする指定。この１行を削除すれば角丸がなくなります。*/
}
/*コンテンツのp(段落)タグ設定*/
#contents p {
	padding: 0px 20px 20px; /*上、左右、下への余白*/
}
/*他。微調整。*/
#contents p+p {
	margin-top: -5px;
}

#contents h2+p, #contents h3+p {
	margin-top: -10px;
}

#contents section+section {
	margin-top: 30px;
}

/*Galleryページ
---------------------------------------------------------------------------*/
/*各ブロックごとの設定*/
.list {
	overflow: hidden;
	border-bottom: 1px solid #ccc; /*下線の幅、線種、色*/
	padding: 20px; /*ボックス内の余白*/
}
/*h4見出しの設定*/
.list h4 {
	color: #d08047; /*文字色*/
}
/*画像の設定*/
.list img {
	width: 20%; /*画像幅*/
	float: left; /*画像を左に回り込み*/
	margin-right: 3% /*画像の右側に空けるスペース*/
}
/*段落タグ*/
.list p {
	padding: 0 !important;
}

/*フッター(ページ最下部のcopyrightのパーツ)設定
---------------------------------------------------------------------------*/
footer {
	clear: both;
	text-align: center; /*文字をセンタリング*/
	padding: 30px 0px 10px; /*上、左右、下へのボックス内の余白*/
}

footer a {
	text-decoration: none;
	border: none;
}

footer .pr {
	display: block;
}

/*トップページ内「更新情報・お知らせ」ブロック
---------------------------------------------------------------------------*/
/*ブロック全体の設定*/
#new dl {
	padding: 0px 20px; /*上下、左右へのブロック内の余白*/
	margin-bottom: 20px; /*ブロックの下(外側)に空ける余白*/
}
/*日付設定*/
#new dt {
	font-weight: bold; /*太字にする設定。標準がいいならこの行削除。*/
	float: left;
	width: 8em;
}
/*記事設定*/
#new dd {
	padding-left: 8em;
}

/*テーブル
---------------------------------------------------------------------------*/
/*テーブル１行目に入った見出し部分（※caption）*/
.ta1 caption {
	border: 1px solid #999; /*テーブルの枠線の幅、線種、色*/
	border-bottom: none; /*下線だけ消す*/
	text-align: left; /*文字を左寄せ*/
	background: #eee; /*背景色*/
	font-weight: bold; /*太字に*/
	padding: 10px; /*ボックス内の余白*/
}
/*テーブル１行目に入った見出し部分（※tamidashi）*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left; /*左よせ*/
	background: #eee; /*背景色*/
}
/*ta1テーブルブロック設定*/
.ta1 {
	table-layout: fixed;
	width: 100%;
	margin: 0 auto 20px;
}

.ta1, .ta1 td, .ta1 th {
	word-break: break-all;
	border: 1px solid #999; /*テーブルの枠線の幅、線種、色*/
	padding: 10px; /*テーブル内の余白*/
}
/*テーブルの左側ボックス*/
.ta1 th {
	text-align: center; /*センタリング*/
	width: 30%; /*幅*/
}

/*トップページのNEWアイコン
---------------------------------------------------------------------------*/
.newicon {
	background: #F00; /*背景色*/
	color: #FFF; /*文字色*/
	font-size: 70%;
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}

/*その他
---------------------------------------------------------------------------*/
.look {
	background: #e5e5e5;
	padding: 5px 10px;
	border-radius: 4px;
}

.mb15, .mb1em {
	margin-bottom: 15px;
}

.color1 {
	color: #d08047;
}

.pr {
	font-size: 12px;
}

.wl {
	width: 96%;
}

.ws {
	width: 50%;
}

.c {
	text-align: center;
}

.r {
	text-align: right;
}

.l {
	text-align: left;
}

/*画面幅580px以下の設定
------------------------------------------------------------------------------------------------------------------------------------------------------*/
@media screen and (max-width:580px) {
	/*全体の設定
---------------------------------------------------------------------------*/
	body {
		font-size: 12px; /*文字サイズ*/
		line-height: 1.5; /*行間*/
	}

	/*メニュー
---------------------------------------------------------------------------*/
	/*メニュー１個あたりの設定*/
	#menubar li {
		display: block; /*縦並びにする設定*/
		margin-bottom: 10px;
	}
	#menubar li a {
		text-decoration: none;
		padding: 8px 30px; /*各メニュー内の余白。*/
	}

	/*Galleryページ
---------------------------------------------------------------------------*/
	/*各ブロックごとの設定*/
	.list {
		padding: 10px; /*ボックス内の余白*/
	}

	/*その他
---------------------------------------------------------------------------*/
	.ws, .wl {
		width: 94%;
	}
}