<!DOCTYPE html>
<html>
<head>
　<meta charset="UTF-8">
　<title>会員情報一覧</title>
　<link rel="stylesheet" href="css/data.css"> 
</head>
<body>
　<div class="wrapper">

　　<header>

	<!--ログアウトボタン-->
	<form action="#" th:action="@{/logout}" method="post">
　　　  <input class="logout" type="submit" value="ログアウト" style="height:50px" />
    </form>	
    
　　</header>
　
　　<div class="title">
　　　<h1>会員情報一覧</h1>
　　</div>
	
	<!--ユーザーデータ一覧 -->
　　　<table>
  　　　<tr><th>ID</th><th>ユーザー名</th><th>パスワード</th><th>メールアドレス</th></tr>
     <tr th:each="obj : ${dataList}">
		<td th:text="${obj.id}"></td>
		<td th:text="${obj.username}"></td>
		<td th:text="${obj.password}"></td>
		<td th:text="${obj.mailAddress}"></td>
	</tr>
　　　</table>
	
	<div id="page">
		<a data:datapage="${dataList.getNumber() - 1}" style="color:black">前ページ</a>
	   	｜
	  	<a data:datapage="${dataList.getNumber() + 1}" style="color:black">次ページ</a>
	</div> 

　</div>

</body>
</html>